/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* calculate section start */
    .common-input{
        padding: 5px !important;
        width: 180px;
    }
    .input-heading{
        font-size: 16px !important;
    }
    #calculate-button{
        padding: 5px 20px !important;
    }
    #save-input{
        width: 70px !important;
    }
    #save-button{
        padding: 5px 15px !important;
    }
/* calculate section end */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large device (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/* Extra extra large devices (extra large desktops, 1400px and up) */
@media (min-width: 1400px) {}